---
interface Props {
  url: string;
  style?: 'default' | 'paragraph';
  currentPath?: string;
}

const { url, style = 'default', currentPath } = Astro.props;

const styleConfig = {
  default: `font-medium  hover:text-accent  active:bg-violet-700 ${
    currentPath === url
      ? `text-accent underline underline-offset-2`
      : `text-secondary`
  }`,
};
---

<li>
  <a href={url} class:list={[styleConfig[style]]}>
    <slot />
  </a>
</li>
