---
interface Props {
  name: string;
}

const { name } = Astro.props;

const colorConfig = {
  devTips: 'before:bg-orange',
  lifeHacks: 'before:bg-pink',
  englishLearnings: 'before:bg-cyan',
};
---

<span
  class:list={[
    'before:block before:absolute before:-inset-0.5 before:-skew-y-2 relative inline-block',
    colorConfig[name],
  ]}
>
  <span class="relative text-white">
    <slot />
  </span>
</span>
