---
import { useTranslatedPath } from '../../i18n/utils'
import Contact from './Contact.astro'
import Potraits from './Potraits.astro'

const {
  t,
  PodcastContent,
  SingContent,
  PapayaContent,
  podcast,
  sing,
  papaya,
  lang
} = Astro.props

const translatePath = useTranslatedPath(lang)
---

<div
  class='mt-4 grid gap-y-16 lg:grid-cols-2 lg:grid-rows-[auto_1fr] lg:gap-y-12 px-6 xl:grid-cols-1'
>
  <div
    class='flex flex-col md:flex-row justify-center items-center lg:pl-20 lg:flex-col gap-10 xl:absolute xl:flex-row top-[120px] right-[20%]'
  >
    <Potraits />
  </div>

  <div class='lg:order-first lg:row-span-2'>
    <h1
      class='text-4xl lg:text-5xl font-bold lg:tracking-tight xl:text-center dark:text-slate-200 text-slate-600'
    >
      {t('about.title')}
    </h1>
    <p
      class='text-lg mt-4 text-slate-600 xl:text-center text-slate-600 dark:text-slate-500'
    >
      {t('about.description')}<br />
    </p>
    <Contact {...{ translatePath }} />
    <div class='flex flex-col gap-3 mx-auto max-w-4xl mt-16'>
      <h2
        class='font-bold text-3xl text-gray-800 dark:text-slate-200 text-left text-slate-600'
      >
        {podcast.data.title}
      </h2>
      <div class='prose dark:prose-invert text-slate-500'>
        <PodcastContent />
      </div>

      <h2
        class='font-bold text-2xl text-gray-800 dark:text-slate-200 text-left text-slate-600'
      >
        {sing.data.title}
      </h2>
      <div class='prose dark:prose-invert text-slate-500'>
        <SingContent />
      </div>
      <h2
        class='font-bold text-2xl text-gray-800 dark:text-slate-200 text-left text-slate-600'
      >
        {papaya.data.title}
      </h2>
      <div class='prose dark:prose-invert text-slate-500'>
        <PapayaContent />
      </div>
    </div>
  </div>
</div>
