---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
  <div class="mt-16 text-center">
    <div
      class="min-h-[calc(100vh-16rem)] flex flex-col items-center justify-center"
    >
      <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">404</h1>
      <p class="text-lg mt-4">页面正在躺平，勿扰</p>
    </div>
  </div>
</MainLayout>
