---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="home">
  <container
    class="max-w-lg bg-translucent shadow-[0_15px_35px_0px_rgba(0,0,0,0.05)] rounded-lg backdrop-blur-xl border-1 border-line p-2 max-h-80"
  >
    <h2 class="h2">Title</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, animi
      voluptatum nostrum est dicta id ut veniam ipsum recusandae ad omnis sequi
      quos pariatur. Sint enim eos saepe quidem explicabo?
    </p>
  </container>
</MainLayout>
