---
import { getCollection, CollectionEntry } from 'astro:content';
import { formatPosts } from '../utils';

const allPodcasts = await getCollection('podcast');
const formattedPodcast: CollectionEntry<'podcast'>[] = formatPosts(
  allPodcasts,
  {}
);
const allTags = formattedPodcast.map((tag) => tag.data.tags).flat();

const processedTags = allTags.reduce((acc, tag) => {
  const value = acc[tag] || 0;

  return {
    ...acc,
    [tag]: value + 1,
  };
}, {});

const { showCount } = Astro.props;
console.log(showCount);

import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="tag">
  <ul>
    {
      Object.entries(processedTags).map(([key, val]) => (
        <li>
          <a href="">
            {key}
            {showCount && `${val}`}
          </a>
        </li>
      ))
    }
  </ul>
</MainLayout>
