---
import IconPool from '~icons/fluent-emoji-flat/pool-8-ball'
import IconKeyboard from '~icons/fluent-emoji-flat/keyboard'
import IconRunning from '~icons/fluent-emoji-flat/running-shoe'
import IconMagic from '~icons/fluent-emoji-flat/magic-wand'
---

<div class='order-3 flex justify-end md:justify-center md:gap-5 xl:flex-col'>
  <div class='text-6xl xl:text-7xl'>
    <IconPool />
  </div>
  <div class='text-6xl xl:text-7xl -rotate-6'>
    <IconKeyboard />
  </div>
  <div class='text-6xl xl:text-7xl'>
    <IconRunning />
  </div>
  <div class='text-6xl xl:text-7xl'>
    <IconMagic />
  </div>
</div>
