---
import IconTypeScript from '~icons/skill-icons/typescript'
import IconJavaScript from '~icons/skill-icons/javascript'
import IconAngular from '~icons/skill-icons/angular-light'
import IconReact from '~icons/skill-icons/react-light'
---

<div class='flex order-2 justify-start md:justify-center md:gap-5 xl:flex-col'>
  <div class='text-6xl xl:text-7xl rotate-6'>
    <IconTypeScript />
  </div>
  <div class='text-6xl xl:text-7xl -rotate-6'>
    <IconReact />
  </div>
  <div class='text-6xl xl:text-7xl'>
    <IconJavaScript />
  </div>
  <div class='text-6xl xl:text-7xl rotate-12'>
    <IconAngular />
  </div>
</div>
