---
import IconSaturn from '~icons/streamline/ecology-science-planet-solar-system-ring-planet-saturn-space-astronomy'
import IconSpotify from '~icons/mingcute/spotify-line'
import IconApplePodcast from '~icons/ph/apple-podcasts-logo'
import IconRss from '~icons/ph/rss'

const { t } = Astro.props
---

<div class='py-10 text-center'>
  <h3 class='text-xl lg:text-2xl dark:text-slate-400 text-slate-500'>
    {t('main.release')}
    <span class='line-through'>{t('main.biWeek')}</span>{t('main.subscribe')}
  </h3>
  <div class='flex gap-5 justify-center py-6'>
    <div class='relative group'>
      <div
        class='absolute -top-1 -left-1 bg-[#3db4e1]/80 w-7 h-7 -z-10 rounded-full group-hover:translate-x-1 group-hover:translate-y-1'
      >
      </div>
      <a href='https://www.xiaoyuzhoufm.com/podcast/6524eb450432a315782d9d07'>
        <IconSaturn
          style={{ fontSize: '2em' }}
          class='text-slate-400 dark:text-slate-200'
        />
      </a>
    </div>
    <div class='relative group'>
      <div
        class='absolute -top-1 -left-1 bg-[#42d760]/80 w-7 h-7 -z-10 rounded-full group-hover:translate-x-1 group-hover:translate-y-1'
      >
      </div>
      <a href='https://open.spotify.com/show/4sGvdSr1iouTvPBVapiYnI'>
        <IconSpotify
          style={{ fontSize: '2em' }}
          class='text-slate-400 dark:text-slate-200'
        />
      </a>
    </div>
    <div class='relative group'>
      <div
        class='absolute -top-1 -left-1 bg-[#a945e3]/80 w-7 h-7 -z-10 rounded-full group-hover:translate-x-1 group-hover:translate-y-1'
      >
      </div>
      <a href=''>
        <IconApplePodcast
          style={{ fontSize: '2em' }}
          class='text-slate-400 dark:text-slate-200'
        />
      </a>
    </div>
    <div class='relative group'>
      <div
        class='absolute -top-1 -left-1 bg-[#fdba74]/80 w-7 h-7 -z-10 rounded-full group-hover:translate-x-1 group-hover:translate-y-1'
      >
      </div>
      <a href='https://feeds.captivate.fm/wangshanglinju'>
        <IconRss
          style={{ fontSize: '2em' }}
          class='text-slate-400 dark:text-slate-200'
        />
      </a>
    </div>
  </div>
</div>
