h2,
h3,
h4,
h5,
h6 {
  padding-top: 0.8em;
  padding-bottom: 0.3em;
}
h1::before {
  content: '#';
  margin-right: 5px;
  color: #2c7a91;
}
h2::before {
  content: '#';
  margin-right: 5px;
  color: #2c7a91;
}
h3::before {
  content: '|';
  margin-right: 5px;
  color: #2c7a91;
}
h4::before {
  content: '*';
  margin-right: 5px;
  color: #2c7a91;
}
a {
  color: #2c7a91;
  text-decoration: none;
}
a:hover {
  color: #379163;
  text-decoration: underline;
}
code,
pre {
  font-size: 13px;
  font-family: Consolas, Monaco, Menlo, Consolas, monospace;
  background-color: #f5f2f0;
}
code {
  font-size: 1em;
  border-radius: 4px;
}
figure.highlight {
  margin: 1em 0;
  overflow-x: auto;
  position: relative;
}
figure.highlight::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
figure.highlight::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: #eee;
  border-radius: 2px;
}
figure.highlight table {
  position: relative;
  width: 100%;
}
figure.highlight table,
figure.highlight tr,
figure.highlight td {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  border-collapse: collapse;
  background-color: #eee;
}
figure.highlight .code,
figure.highlight pre {
  margin: 0;
}
figure.highlight .gutter {
  width: 10px;
  color: #d0d0d0;
}
figure.highlight .gutter pre {
  margin: 0;
  padding: 0;
}
ul,
ol,
dl {
  padding-left: 2em;
}
table {
  max-width: 100%;
  margin: 10px 0;
  border-spacing: 0;
}
table thead {
  background-color: #f0f3f5;
}
table th,
table td {
  padding: 5px 15px;
  border: 0.5px solid rgba(0, 0, 0, 0.6);
}
.image-caption:not(:empty) {
  min-width: 20%;
  max-width: 80%;
  display: inline-block;
  padding: 10px;
  margin: 0 auto;
  border-bottom: 1px solid #d9d9d9;
  font-size: 14px;
  color: #969696;
  line-height: 1.7;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}
blockquote {
  font-size: 1rem;
  display: block;
  margin: 1em 0;
  padding: 1em 1.2em;
  position: relative;
  background-color: #f0f3f5;
  border-left: 2px solid;
}
blockquote p {
  margin: 0;
}
blockquote footer strong {
  margin-right: 0.5em;
}
blockquote.pullquote {
  background-color: transparent;
  max-width: 45%;
  border: 0;
}
blockquote.pullquote.left {
  float: left;
  text-align: left;
}
blockquote.pullquote.right {
  float: right;
  text-align: right;
}
p {
  padding: 0 0 0.5rem 0;
}
