@import 'lxgw-wenkai-webfont/style.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer base {
  html {
    font-family: LXGW Wenkai;
  }
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
  .delay {
    animation-delay: 2s;
  }
  .preserve-3d {
    transform-style: preserve-3d;
  }
  .perspective {
    perspective: 1000px;
  }
  .flip {
    transform: rotateY(180deg);
  }
  .hidden-backface {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
  }
}
