---
import IconTwitter from '~icons/tabler/brand-x';
import IconGithub from '~icons/tabler/brand-github';
import IconWeibo from '~icons/tabler/brand-weibo';
import IconWechat from '~icons/tabler/brand-wechat';
import IconRSS from '~icons/tabler/rss';
---

<div class="flex justify-center gap-4 pt-6">
  <div class="relative">
    <div class="absolute bg-purple w-6 h-6 -z-10 rounded-full hover:bg-green">
    </div>
    <a href="">
      <IconTwitter style={{ fontSize: '2em' }} />
    </a>
  </div>
  <a href="" class="relative">
    <IconGithub style={{ fontSize: '2em' }} />
  </a>
  <a href="" class="relative">
    <IconWeibo style={{ fontSize: '2em' }} />
  </a>
  <a href="" class="relative">
    <IconWechat style={{ fontSize: '2em' }} />
  </a>
  <a href="" class="relative">
    <IconRSS style={{ fontSize: '2em' }} />
  </a>
</div>
