---
import IconTwitter from '~icons/tabler/brand-x';
import IconGithub from '~icons/tabler/brand-github';

import IconWechat from '~icons/tabler/brand-wechat';
import IconRSS from '~icons/tabler/rss';
---

<div class="flex justify-center gap-6 pt-6">
  <div class="relative group">
    <div
      class="absolute -top-1 -left-1 bg-cyan-200 dark:bg-purple-400 w-6 h-6 -z-10 rounded-full group-hover:translate-x-1 group-hover:translate-y-1"
    >
    </div>
    <a href="">
      <IconTwitter style={{ fontSize: '1.5em' }} class="dark:text-slate-100" />
    </a>
  </div>
  <div class="relative group">
    <div
      class="absolute -top-1 -left-1 bg-cyan-200 dark:bg-purple-400 w-6 h-6 -z-10 rounded-full group-hover:translate-x-1 group-hover:translate-y-1"
    >
    </div>
    <a href="">
      <IconGithub style={{ fontSize: '1.5em' }} class="dark:text-slate-100" />
    </a>
  </div>

  <div class="relative group">
    <div
      class="absolute -top-1 -left-1 bg-cyan-200 dark:bg-purple-400 w-6 h-6 -z-10 rounded-full group-hover:translate-x-1 group-hover:translate-y-1"
    >
    </div>
    <a href="">
      <IconWechat style={{ fontSize: '1.5em' }} class="dark:text-slate-100" />
    </a>
  </div>

  <div class="relative group">
    <div
      class="absolute -top-1 -left-1 bg-cyan-200 dark:bg-purple-400 w-6 h-6 -z-10 rounded-full group-hover:translate-x-1 group-hover:translate-y-1"
    >
    </div>
    <a href="/rss.xml">
      <IconRSS style={{ fontSize: '1.5em' }} class="dark:text-slate-100" />
    </a>
  </div>
</div>
