---

---

<footer
  class='my-6 flex place-content-between justify-center dark:text-slate-300 relative text-slate-600'
>
  <small>
    Copyright &copy;<span id='copyright'></span> | All right reserved
  </small>
</footer>

<script>
  document.querySelector('#copyright')!.textContent = new Date()
    .getFullYear()
    .toString()
</script>
