---
---

<footer class="flex place-content-between justify-center px-8 py-2 shadow-md">
  <small>
    Copyright &copy;<span id="copyright"></span> | All right reserved
  </small>
</footer>

<script>
  document.querySelector('#copyright')!.textContent = new Date()
    .getFullYear()
    .toString();
</script>
