---
---

<footer class="my-20 flex place-content-between justify-center">
  <small>
    Copyright &copy;<span id="copyright"></span> | All right reserved
  </small>
</footer>

<script>
  document.querySelector('#copyright')!.textContent = new Date()
    .getFullYear()
    .toString();
</script>
