---
import { Image } from 'astro:assets';
import logo from '../assets/logo.png';
---

<container class="flex flex-row items-center justify-evenly">
  <div
    class="max-w-3xl bg-translucent shadow-[0_15px_35px_0px_rgba(0,0,0,0.05)] rounded-lg border-1 border-line backdrop-blur-sm"
    id="card"
  >
    <h2 class="text-5xl px-16 pt-6">Title</h2>
    <p class="px-16 py-6">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, animi
      voluptatum nostrum est dicta id ut veniam ipsum recusandae ad omnis sequi
      quos pariatur. Sint enim eos saepe quidem explicabo? Lorem ipsum dolor sit
      amet consectetur adipisicing elit. Voluptates quia neque tempore eligendi
      vel architecto magnam, labore autem obcaecati ea quibusdam expedita nobis
      ipsam enim ipsum, mollitia commodi! Assumenda, reprehenderit. Lorem, ipsum
      dolor sit amet consectetur adipisicing elit. Quas placeat iusto iste
      pariatur eligendi cupiditate distinctio alias illum natus at deserunt
      quisquam, ipsam libero itaque similique sit totam provident veritatis?
    </p>
  </div>
  <div class="w-1/6 bg-translucent rounded-full backdrop-blur-sm">
    <Image class="animate-bounce" src={logo} width={250} alt="podcast logo" />
  </div>
</container>

<script>
  import VanillaTilt from 'vanilla-tilt';

  VanillaTilt.init(document.getElementById('card')!, {
    max: 5,
    speed: 200,
    glare: true,
    'max-glare': 0.5,
  });
</script>
