---
import { Icon } from 'astro-icon';
import ThemeToggleInput from './ThemeToggleInput.astro';

import navData from '../data/navData';

import MenuToggle from './MenuToggle';
---

<header class="flex flex-col lg:flex-row justify-between items-center my-5">
  <div class="flex w-full lg:w-auto items-center justify-between">
    <a href="/">
      <Icon class="pt-2 fill-green" name="logo" width="50" />
    </a>
  </div>
  <nav class="w-full lg:w-auto mt-2 lg:flex lg:mt-0 nav-links">
    <ul class="flex flex-col lg:flex-row gap-3">
      {
        navData.map((item) => (
          <li>
            <a
              href={item.path}
              class="text-blue px-5 py-2 rounded-2xl font-medium  hover:shadow-[0_5px_10px_0px_rgba(0,0,0,0.1)] hover:bg-white"
            >
              {item.name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  <div class="flex gap-2">
    <div class="lg:flex items-center gap-4 bor bg-green px-3 py-1 rounded-3xl">
      <ThemeToggleInput name="sun" value="light" />
      <ThemeToggleInput name="moon" value="dark" />
    </div>
    <MenuToggle client:load />
  </div>
</header>
