---
import LanguagePicker from '../components/LanguagePicker';
import MenuToggle from './MenuToggle';
import ThemeToggle from './ThemeToggle';
import Link from './style/Link.astro';

import IconNet from '~icons/my-icons/net';
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const currentPath = new URL(Astro.request.url).pathname;
---

<header class="bg-[#f3f4f5]">
  <container
    class="max-w-screen-xl mx-auto flex justify-between items-center m-0 p-0"
  >
    <div class="flex items-center justify-between my-5 w-36">
      <a href="/">
        <IconNet class="pt-2 ml-4 text-cyan-700" style={{ width: '3em' }} />
      </a>
    </div>
    <nav class="hidden md:flex w-auto mt-2 mt-0">
      <ul class="flex flex-row gap-8">
        <Link url={translatePath('/')} {currentPath}>{t('nav.home')}</Link>
        <Link url={translatePath('/about')} {currentPath}>
          {t('nav.about')}
        </Link>
        <Link url={translatePath('/podcast')} {currentPath}>
          {t('nav.podcast')}
        </Link>
      </ul>
    </nav>
    <div class="md:flex hidden mr-4 items-center gap-3 w-36">
      <LanguagePicker client:load lang={lang} />
      <ThemeToggle client:load />
    </div>
    <div class="md:hidden mr-4 items-center gap-3">
      <MenuToggle client:load {...{ lang, currentPath }} />
    </div>
  </container>
</header>
