---
const { length, currentPage, firstUrl, prevUrl, nextUrl } = Astro.props;
const paginationList: number[] = Array.from(
  { length },
  (_, index) => index + 1
);

import IconLeft from '~icons/tabler/circle-arrow-left-filled';
import IconRight from '~icons/tabler/circle-arrow-right-filled';
---

<nav aria-label="Blog pages" class="flex justify-center py-2">
  {
    prevUrl ? (
      <a href={prevUrl}>
        <span class="text-cyan-700">
          <IconLeft style={{ fontSize: '2rem' }} />
        </span>
      </a>
    ) : (
      <span class="text-slate-200">
        <IconLeft style={{ fontSize: '2rem' }} />
      </span>
    )
  }

  <ol class="flex items-center px-2">
    {
      paginationList.map((num) => (
        <li class="px-2 focus:ring-2">
          <a href={`${firstUrl}${num == 1 ? '' : '/' + num}`}>
            <span
              class={`text-cyan-700 font-bold inline-block  ${
                currentPage === num ? `underline` : `text-cyan-700`
              }`}
            >
              {num}
            </span>
          </a>
        </li>
      ))
    }
  </ol>

  {
    nextUrl ? (
      <a href={nextUrl}>
        <span class="text-cyan-700">
          <IconRight style={{ fontSize: '2em' }} />
        </span>
      </a>
    ) : (
      <span class="text-slate-200">
        <IconRight style={{ fontSize: '2em' }} />
      </span>
    )
  }
</nav>
