---
import { Icon } from 'astro-icon';

const { name, value } = Astro.props;
---

<label title=`Use ${value} theme`>
  <Icon {name} width="20" />
  <input
    type="radio"
    name="theme-toggle"
    {value}
    aria-label=`Use ${value} theme`
    class="appearance-none flex"
  />
</label>
