---
import MainLayout from '../../layouts/MainLayout.astro';

import { CollectionEntry, getCollection } from 'astro:content';

export async function getStaticPaths() {
  const episodes = await getCollection('podcast');
  return episodes.map((episode) => ({
    params: { slug: episode.slug },
    props: { episode },
  }));
}

interface Props {
  episode: CollectionEntry<'podcast'>;
}

const { episode } = Astro.props;
const { Content } = await episode.render();
---

<MainLayout>
  <div class="mx-auto max-w-3xl mt-16 text-center">
    <h1
      class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-snug"
    >
      {episode.data.title}
    </h1>
  </div>
  <div class="text-base max-w-prose mt-6 max-w-3xl mx-auto">
    <Content />
  </div>
</MainLayout>
