---
import Footer from '../components/Footer.astro';
import NavBar from '../components/NavBar.astro';
import MainHead from './MainHead.astro';

const { title } = Astro.props;
---

<html lang="en">
  <MainHead {title} />
  <body class="m-0 p-0">
    <container class="flex-col min-h-screen">
      <NavBar />
      <main class="flex-1">
        <slot />
      </main>
      <Footer />
    </container>
  </body>
</html>
