---
import { getLangFromUrl } from '../i18n/utils'

import Footer from '../components/Footer.astro'
import NavBar from '../components/NavBar.astro'
import MainHead from './MainHead.astro'
import { fade } from 'astro:transitions'
import '../style/global.css'
import Wave from '~icons/my-icons/wave'

const { title } = Astro.props
const lang = getLangFromUrl(Astro.url)
---

<html lang={lang}>
  <MainHead {title} />
  <body class='dark:bg-neutral-900'>
    <NavBar />

    <Wave class='text-[#f3f4f5] dark:text-neutral-700' />

    <div
      class='max-w-screen-xl mx-auto px-6'
      transition:animate={fade({ duration: '0.2s' })}
    >
      <slot />
    </div>

    <div id='shikwasa-player-container' class='m-12'></div>

    <Footer />

    <script>
      import { Player } from '../scripts/load-shikwasa'
      import Logo from '../assets/logo.png'

      const player = new Player({
        container: () => document.querySelector('#shikwasa-player-container'),
        themeColor: '#C084FC',
        audio: {
          title: 'EP1 不完备实测转码工具包 ｜ 最基础的检查点',
          artist: 'Papaya & S1ngS1ng',
          cover: Logo.src,
          src: 'https://podcasts.captivate.fm/media/a7ab2c4e-531a-4bad-aa45-09a6c88d3160/Wangshanglinju-EP-1.mp3'
        }
      })
    </script>
  </body>
</html>
