---
import Footer from '../components/Footer.astro';
import NavBar from '../components/NavBar.astro';
import MainHead from './MainHead.astro';

const { title } = Astro.props;
---

<html lang="en">
  <MainHead {title} />
  <body class="m-0 p-0">
    <container
      class="flex flex-col min-h-screen bg-gradient-to-br from-blue to-purple"
    >
      <NavBar />
      <main class="flex-1 flex w-screen justify-center">
        <slot />
      </main>
      <Footer />
    </container>
  </body>
</html>
